<!--    Authors:            Eric Bridgens | Joshua Dickens | Sunny He | Kyle Willoughby     -->
<!--    Creation Date:      August 15, 2024                                                 -->
<!--    Project Name:       StatVision                                                      -->

{% extends "base.html" %}

{% load static %}

{% block title %}
Home | StatVision
{% endblock %}


{% block main %}

<h1 class="main-heading">Home</h1>
<div class="home">
    <!-- Conditional Display of Results -->
    {% if results %}
        <div class="results" style="margin-top: 20px;">
            <p>{{ results }}</p>
        </div>
    {% endif %}
</div>
<div class="home">
    <!-- Place Content Here -->
</div>

{% endblock %}
