<!--    Authors:            Eric Bridgens | Joshua Dickens | Kyle Willoughby    -->
<!--    Creation Date:      August 15, 2024                                     -->
<!--    Project Name:       StatVision                                          -->

{% extends "base.html" %}

{% load static %}

{% block title %}
About | StatVision
{% endblock %}


{% block main %}

<h1 class="main-heading">About</h1>

<div class="about">
    <article>
        <h2>Vision</h2>
        StatVision is a web application designed to track, report, and analyze sports data across multiple leagues 
        and sport- By consolidating large volumes of data and presenting it in an intuitive format, StatVision 
        empowers athletes, teams, analysts, and fans to make informed, data-driven decision- Users can visualize
        trends, evaluate player performances, compare statistics, and gain deeper insights into sports metrics.
    </article>

    <article>
        <h2>Who We Serve</h2>
        <ul>
            <li>Sports Fans: Eager to track and compare players or team performances in real time.</li>
            <li>Coaches and Analysts: Seeking efficient data collection and advanced reporting tools.</li>
            <li>Players and Organizations: Looking to monitor individual or team performance metrics and historical data to inform strategies and improvements.</li>
        </ul>
    </article>

    <article>
        <h2>What makes us different</h2>
        <ul>
            <li>Cross-Sport Analytics: StatVision unifies multiple leagues and sports under a single user experience.</li>
            <li>User-Friendly Dashboards: Complex data is presented through intuitive visualizations, appealing to both casual fans and professional analysts.</li>
            <li>Data-Driven Insights: StatVision’s analytical tools, reporting features, and real-time updates facilitate effective decision-making—from coaching strategies to fantasy sports lineups.</li>
        </ul>
    </article>

    <article>
        <h2>Problems Solved</h2>
        <ul>
            <li>Fragmented Sports Data: StatVision aggregates and standardizes complex sports information from various sources, eliminating the need to visit multiple league-specific or paywalled websites.</li>
            <li>Difficulty in Identifying Trend: Interactive dashboards and visual tools enable users to spot performance patterns, track progress, and compare statistics over time.</li>
            <li>Limited Analytical Insights: By providing robust analytics and reporting, StatVision helps professionals and enthusiasts generate in-depth analyses to support data-driven decision-making.</li>
        </ul>
    </article>
</div>

{% endblock %}
