<!--    Authors:            Eric Bridgens | Joshua Dickens | Kyle Willoughby    -->
<!--    Creation Date:      August 15, 2024                                     -->
<!--    Project Name:       StatVision                                          -->

{% extends "base.html" %}

{% load static %}

{% block title %}
Home | StatVision
{% endblock %}



{% block main %}

{% include "scoreboard.html" with events=events limit=10 %}

<div class="home">
  <!-- Place Content Here -->
</div>

{% endblock %}
