<!--    Authors:            Eric Bridgens | Joshua Dickens | Sunny He | Kyle Willoughby     -->
<!--    Creation Date:      August 15, 2024                                                 -->
<!--    Project Name:       StatVision                                                      -->

{% extends "base.html" %}

{% load static %}

{% block title %}
MLB | StatVision
{% endblock %}


{% block main %}

<h1 class="main-heading">MLB</h1>

<div class="mlb">
    <!-- Place Content Here -->
</div>

{% endblock %}
