<!--    Authors:            Eric Bridgens | Joshua Dickens | Kyle Willoughby    -->
<!--    Creation Date:      August 15, 2024                                     -->
<!--    Project Name:       StatVision                                          -->

{% extends "base.html" %}

{% load static %}

{% block title %}
NBA | StatVision
{% endblock %}


{% block main %}


{% include "scoreboard.html" with events=events limit=10 %}

<h1 class="main-heading">NBA Standings</h1>

{% include "standings.html" with standings=standings %}


{% endblock %}